@import '~@/theme/index.less';

.container {
  background-color: #fbfbfb;
  box-sizing: border-box;
  padding-top: 20px * 2;
  height: 100vh;

  .avatar {
    margin: 0 auto;
    width: 100px * 2;
    height: 100px * 2;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    overflow: hidden;
  }

  .altAvatar {
    text-align: center;
    font-size: 16px * 2;
    margin: 10px * 2 0 30px * 2;
  }

  .signoutBtn {
    margin: 40px *2 30px * 2 0;
    background-color: @theme-functional-negative-text;
    color: #fbfbfb;
  }

  :global {
    .at-list__item-content {
      width: 20%;
      flex: none;
    }

    .at-list__item-extra {
      display: flex;
      width: 80%;
      max-width: none;
    }
  }
}
